<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WHAKAKAI</title>

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        /*
        body, html {
            height: 100%;
            margin: 0;
            /*background-image: url("");
        }
        .bg {
            /* The image used 
            background-image: url("backround.jpg");
            /* Full height 
            height: 100%;
            /* Center and scale the image nicely 
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }*/

        .topnav #myLinks {
            display: none;
        }

        .topnav a {
            float: left;
            color: black;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 14px;
        }

            .topnav a.icon {
                float: left;
            }

            .topnav a:hover {
                background-color: #ddd;
                color: black;
            }

        .active {
            background-color: #4CAF50;
            color: white;
        }
    </style>




    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>


<body>

    @*<div class="bg">
     <p class="py-5 text-center"></p>
    </div>*@

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @*ti kanei to parakatw??? icon-bar???  an vgei ola gamiounte *@
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"> <img border="0" alt="WHAKAKAI" src="~/images/logo.jpg" width="75" height="45"></a>



                <!-- Top Navigation Menu -->
                <div class="topnav">

                    <div id="myLinks">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
                        <a asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                        <a asp-area="" asp-controller="Materials" asp-action="Index">Materials</a>
                    </div>
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>


            </div>

            @*<ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                </ul>*@

            <script>
                function myFunction() {
                    var x = document.getElementById("myLinks");
                    if (x.style.display === "block") {
                        x.style.display = "none";
                    } else {
                        x.style.display = "block";
                    }
                }
            </script>


            <style>
                .navbar-inverse {
                    background-color: #9bc2ea;
                }

                .navbar-fixed-top {
                    top: 0;
                    border-width: 0 0 0px;
                }

                .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
                    margin-left: -90px;
                    color: #080000;
                }


                .navbar-inverse .navbar-nav > li > a {
                    color: #080000;
                }


                .col-container {
                    display: table;
                    width: 90%;
                }

                .col {
                    display: table-cell;
                    padding: 6px;
                }

                .footer {
                    position: fixed;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    background-color: #9bc2ea;
                    color: black;
                    text-align: left;
                }

                .footer-fixed-bottom {
                    bottom: 0;
                    border-width: 0 0 0px;
                }

                #footer-content {
                    color: #080000;
                    text-align: left; /*left?*/
                }

                a:hover, a:focus {
                    color: #ffffff;
                    text-decoration: underline;
                }

                a {
                    color: #000000;
                    text-decoration: none;
                }
            </style>

            <div class="navbar-collapse collapse">
                <partial name="_LoginPartial" />
            </div>
        </div>





    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />



        <footer class="footer">

            <div class="col-container">
                <div class="col" style="background:none">
                    <p>&copy; April 2019 - Whakakai Handmade Jewellery - eShop Project Coding School</p>
                </div>

                <div id="footer-content">
                    <div class="col" style="background:none">
                        <a asp-area="" asp-controller="Home" asp-action="About"><h4>About</h4></a>
                    </div>
                    <div class="col" style="background:none">
                        <a asp-area="" asp-controller="Home" asp-action="Contact"><h4>Contact</h4></a>
                    </div>
                </div>

            </div>


        </footer>


    </div>

    <environment include="Development">
        @*den leitourgei to carousel*@
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
